body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    height: 100vh;
    
}
h1 {
    font-size: 50px; 
}
h2{
    font-size: 35px; 
}
h3{
    font-size: 20px; 
}
.container {
    text-align: center; /* Pour centrer le contenu textuel */
}
header {
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    margin: 0px;
    font-family: Arial, sans-serif;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #555;
    padding: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-size: 18px;
}
section {
    text-align: center;
    padding: 50px;
}
form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 8px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
}
.img-fluid {
    width: 500px; /* Largeur souhaitée */
    height: 400px; /* Hauteur souhaitée */
}
.custom-sized-image {
    width: 100vw; /* Largeur souhaitée */
    height: auto; /* Hauteur souhaitée */

}
button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #006400;
}
.error-message {
    color: red;
    margin-bottom: 16px;
}

footer {
    width: 100%;
    background-color: #333;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    margin: 0;
    bottom: 0;
    font-family: "Script MT Bold";
}
