body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    height: 100vh;
    
}
h1 {
    font-size: 50px; 
}
h2{
    font-size: 35px; 
}
h3{
    font-size: 20px; 
}
.container {
    text-align: center; /* Pour centrer le contenu textuel */
}
header {
    width: 100%;
    background-color: #f0f0f0;
    color: white;
    text-align: center;
    padding: 1em;
    margin: 0px;
    font-family: Arial, sans-serif;
}

body {
    font-size: 1.2em;
    text-align: center;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    background-color: #f5f5f5;
    color: #333;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
    background-color: white; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
  }
  
  th, td {
    padding: 20px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: black; 
  }
  
  h3 {
    color: black; 
    margin-bottom: 10px;
  }
  
  .header {
    background-color: #D48E3D; 
    color: black; 
  }
  
  button {
    background-color: white; 
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: white; 
  }
  
  
p {
    margin: 0 auto;
    max-width: 800px;
    font-size: 1.5em;
    line-height: 1.5;
}


nav {
    display: flex;
    justify-content: center;
    background-color: #D48E3D;
    padding: 20px;
}

nav a {
    color: black;
    text-decoration: none;
    margin: 0 20px;
    font-size: 18px;
}
section {
    text-align: center;
    padding: 50px;
}
form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 8px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
}
.img-fluid {
    width: 500px; 
    height: 400px; 
}
.custom-sized-image {
    width: 100vw; 
    height: auto; 

}
.custom-image{
    width: 15vw;
    height: auto;
}
button {
    background-color: #D48E3D;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #006400;
}
.error-message {
    color: red;
    margin-bottom: 16px;
}

footer {
    width: 100%;
    background-color: #D48E3D;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    margin: 0;
    bottom: 0;
    font-family: "Script MT Bold";
}
