body {
    margin: 0;
    padding: 0;
    background-color: #000; /* Ajout du fond noir */
}

header {
    width: 100%;
    background-color: #333;
    color: #0400ff;
    text-align: left;
    padding: 1em;
    margin: 0;
}

nav {
    display: flex;
    justify-content: center;
}

nav a {
    color: #2f00ff;
    text-decoration: none;
    margin: 0 1em;
}

footer {
    width: 100%;
    background-color: #111;
    color: #ffffff;
    text-align: center;
    padding: 1em;
    margin: 0;
}
